
.container h1 {
    text-shadow: 2px 2px 5px black;
    color:#6B8E23;
}
.search-box {
    border-radius: 8px;
    
    max-width: 500px; 
    width: 100%;
}
.section-title {
    color: #A67C00;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}
.arrow {
    display: inline-block;
    font-size: 36px;
    color: #A67C00;
    animation: arrow-move-horizontal 1.2s ease-in-out infinite;
}

@keyframes arrow-move-horizontal {
    0% {
        transform: translateX(-10px);
        opacity: 0.6;
    }
    50% {
        transform: translateX(10px);
        opacity: 1;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0.6;
    }
}
.card-img-top{
    width: 100%;
    height: auto;
    object-fit: contain;
}